.wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.user-container {
  display: flex;
  gap: 8px;
  align-items: center;
}
.name-text {
  color: #2f2f2f;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0;
}
.image {
  border-radius: 50%;
}
.button {
  border-color: transparent;
  background-color: transparent;
  color: #407bff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
